/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  html{
    font-size: 12px;
  }
  body {
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('/img/login.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  main{
    margin-bottom: 15px;
    width: 34%;
    font-size: 3rem;
    color: brown;
    margin: 16rem 3rem 0 56rem;
  }
  input{
      font-size: 2rem;
  }
  .form-control{
    width: 100%;
    font-size: 2rem;
  }
  button{
    font-size: 2rem;
    border-radius: 19px;
  }
  .container{
      width: 500px;
  }
  a{
      text-decoration: none;
  }